.adm{

    background-color: #530602;
   margin-left: 50px;
   margin-right: 50px;
   height: 140px;
   line-height: 140px;
}
.dashboard{
    color: #000;
    margin-left: 50px;
    margin-right: 50px;
    height: 140px;
    font-size: 25px;
}

body{
    background-color: yellow;
}
h1{
    color: blue;
}
h4{
    float: right;
    margin-right: 30px;
    color: black;
    font-size: 20px;
}
h3{
    float:left;
    margin-right: 30px;
    color: black;
    font-size: 20px;
}